*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}

.bold-1{
    font-weight: 900;
}
.nb-style{
    text-decoration: none;
    font-weight: 900;
}
.formhp{
    height: 35px;
}
.backgimg-1{
    background-image: url("images/Beach.png");
    background-repeat: no-repeat;
    height: 1500px;
    /* background-color: rgb(194, 128, 161); */
}
.backgimg-2{
    background-image: url("images/Beach.png");
    background-repeat: no-repeat;
    height: 650px;
    /* background-color: rgba(220, 189, 10, 0.649); */
}
.backblur{
    backdrop-filter: blur(50px);
}
.input{
    background-color: transparent;
    border-top: 10px;
    border-left: 10px;
    border-right: 10px;
    border-color: white;
}


/* for Xtra Extra small devices */
@media (min-width:576px) and (max-width:767px){
    .col-sm-1{
        width: 8.33%;
    }
    .col-sm-2{
        width: 16.66%;
    }
    .col-sm-3{
        width: 25%;
    }
    .col-sm-4{
        width:33.33% ;
    }
    .col-sm-5{
        width: 41.66%;
    }
    .col-sm-6{
        width: 50%;
    }
    .col-sm-7{
        width: 58.33%;
    }
    .col-sm-8{
        width: 66.66%;
    }
    .col-sm-9{
        width: 75%;
    }
    .col-sm-10{
        width:83.33% ;
    }
    .col-sm-11{
        width: 91.66%;
    }
    .col-sm-12{
        width: 100%;
    }

    .font-sm{
        font-weight: 500;
        font-size: 10px;
    }
    .font-smb{
        font-weight: 600;
        font-size: 13px;
    }
    .font-smf{
        font-weight: 500;
        font-size: 18px;
    }
    .none{
        display: none;
    }

}

/* for Xtra Extra small devices */
@media (min-width:361px) and (max-width:575px){
    .col-1{
        width: 8.33%;
    }
    .col-2{
        width: 16.66%;
    }
    .col-3{
        width: 25%;
    }
    .col-4{
        width:33.33% ;
    }
    .col-5{
        width: 41.66%;
    }
    .col-6{
        width: 50%;
    }
    .col-7{
        width: 58.33%;
    }
    .col-8{
        width: 66.66%;
    }
    .col-9{
        width: 75%;
    }
    .col-10{
        width:83.33% ;
    }
    .col-11{
        width: 91.66%;
    }
    .col-12{
        width: 100%;
    }

    .font-sm{
        font-weight: 500;
        font-size: 10px;
    }
    .font-smb{
        font-weight: 700;
        font-size: 12px;
    }
    .font-smf{
        font-weight: 500;
        font-size: 18px;
    }
    .none{
        display: none;
    }
}


/* for Xtra Extra small devices */
@media (max-width:360px){
    .col-xs-1{
        width: 8.33%;
    }
    .col-xs-2{
        width: 16.66%;
    }
    .col-xs-3{
        width: 25%;
    }
    .col-xs-4{
        width:33.33% ;
    }
    .col-xs-5{
        width: 41.66%;
    }
    .col-xs-6{
        width: 50%;
    }
    .col-xs-7{
        width: 58.33%;
    }
    .col-xs-8{
        width: 66.66%;
    }
    .col-xs-9{
        width: 75%;
    }
    .col-xs-10{
        width:83.33% ;
    }
    .col-xs-11{
        width: 91.66%;
    }
    .col-xs-12{
        width: 100%;
    }

    .font-sm{
        font-weight: 500;
        font-size: 7px;
    }
    .font-smb{
        font-weight: 900;
        font-size: 10px;
    }
    .none{
        display: none;
    }
}